In [1]:
import sys
sys.version

'3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import keyword
print(keyword.kwlist)
print("total no of keywords are",len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total no of keywords are 36

In [3]:
global=1

SyntaxError: invalid syntax (1289719573.py, line 1)

Variables

In [4]:
a=10
b=5.5
c="AIML"
a,b,c=10,5,"ML"
a=b=c="AIML"

Datatypes

In [5]:
a=5
print(a,"is of type",type(a))

5 is of type <class 'int'>

In [6]:
x=3
y=3
print(id(x))
print(id(y))

1457151371632
1457151371632

In [7]:
z=2
print(id(z))

1457151371600

Numbers(int,float,complex nos.) Boolean, List, set, tuple, dictionary, string

In [10]:
s="hello world"
print(s)
print(s[0])
print(s[len(s)-1]) #s[-1]
print(s[-1])

hello world
h
d
d

List : ordered collection of items, it is mutable.

In [12]:
a=[10,20.5,"hello",'world']
print(a[1])
a[1]=25.5
print(a)

20.5
[10, 25.5, 'hello', 'world']

Tuple: immutable collection of ordered elements

In [14]:
t=(1,1.5,"lol")
print(t[2])
t[1]=2.3
print(t)

lol

TypeError: 'tuple' object does not support item assignment

Set: unordered that is random ordered collection of elements, the duplicate values r always eliminated.

In [15]:
a={10,20,20,30,40,40,50}
print(a)

{50, 20, 40, 10, 30}

In [16]:
print(a[1])

TypeError: 'set' object is not subscriptable

Dictionary: has a key- value pair

In [19]:
d = {'a':'apple','b':'bat'}
print(d['a'])
print(d['apple'])

apple

KeyError: 'apple'

Boolean

In [20]:
a=True
print(type(a))

<class 'bool'>

Datatype conversion

In [21]:
float(5)
int(100.5)

100

In [22]:
float(5)

5.0

In [25]:
a=[1,2,3]
print(a)
s=set(a)
print(s)

[1, 2, 3]
{1, 2, 3}

In [29]:
str="hello"
list(str)

#print(list(str))

['h', 'e', 'l', 'l', 'o']

In [30]:
#COMMENTS- singleline, multiline
#docstring- tells what the method does. Here  we use __doc__ to get the docstring of the fn

#function that doubles a given number.

def double(num):
    """
    function that doubles a number
    """
    return 2*num
print(double.__doc__)

    function that doubles a number

In [31]:
#indentation is compulrsory.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
#SINGLE LINE AND MULTILINE STATEMENTS use '\'
a=1+2+3+\
    4+5+\
        7+8
print(a)

30

In [39]:
#to print int and srting in the same line
user="keerthana"
lines=100
print("congrats",user,"you wrote",lines," lines of code")

congrats keerthana you wrote 100  lines of code

In [43]:
#input and output using .format() function
a=20
print("the value of a is", a)
b=25
print("the value of a is {} and b is {}".format(a,b))
print("the value of b is {1} and a is {0}".format(a,b))

#keyword arguments
print("hello {name} {greeting}".format(name="keerthana", greeting="hi"))

#combining positional argument  and keyword argument
print("the story of  {0}, {1}  and {other}".format("a","b",other="c") )
1

the value of a is 20
the value of a is 20 and b is 25
the value of b is 25 and a is 20
hello keerthana hi
the story of  a, b  and c

In [46]:
#input
num=input("enter a number")
print(num)
print(type(num))

100
<class 'str'>

In [8]:
#operators - arithmetic, logical, comparitive, bitwise
#arithmetic- +,-,*,/,//**
 
x,y=10,20
print(x+y)
print(x-y)
print(x/y)
print(x*y)

#comparitive - <,>,>=, <=, !=
print(x<y)
print(x>y)
print(x>=y)
print(x<=y)
print(x!=y)

#logical-  and, or , not
a,b=True, False
print(a and b)
print(a or b)
print(not a)

30
-10
0.5
200
True
False
False
True
True
False
True
False
True
False
False

In [10]:
#assignment operators  =, +=, -=, /=, *=
#special operators- identity operator -  is and not
c,d=3,3
print(c is d)
print(c is not d)

l1 = [1,2,3]
l2=[1,2,3]
print(l1 is l2)

s1="hello"
s2="hello"
print(s1 is s2)

True
False
False
True

In [12]:
#membership operator - in and not in
l1=[1,2,3,4,5]
print(7 in l1)
print(3 in l1)
print(3 not in l1)

False
True
False

In [15]:
#if and if else
#check if a number is positive or not
num=4
if (num>0):
    print("positive")
else:
    print("negetive")

positive

In [20]:
#nested if 
#check if a number is positive or not
num=0
if (num>=0):
    if(num==0):
        print("zero")
    else:
      print("positive")
else:
    print("negetive")

zero

In [24]:
#find the largest of 3 nos.
a=10
b=20
c=5

if(a>b and a>c):
    print("a is largest")
elif(b>a and b>c):
    print("b is largest")
else:
    print("c is largest")

if(a>b and a>c):
    largest= a
elif(b>a and b>c):
     largest= b
else:
     largest= c
print("the largest among the numbers {},{},{} is {}".format(a,b,c,largest))

b is largest
the largest among the numbers 10,20,5 is 20

In [26]:
#while condition- multiply all the items in a list
list=[1,2,3,4,5]
product =1
i=0
while i < len(list):
    product *= list[i]
    i+=1
print("the product is : {ans}".format(ans=product))

the product is : 120

In [43]:
#if a given no is prime or not 
num=input()
isDivisible = False
i=2
while i<int(num):
    if num%i == 0:
        isDivisible=True
        print("{} is divisible by {}".format(num, i))
    i+=1
if isDivisible:
    print("{} is not prime".format(num))
else:
    print("{} is prime".format(num))

1 is prime

In [35]:
#range function - range(start, end, step)
#display all the items in a list using range function
list = [10,20,30,40,50]
for i in range(len(list)):
    print(list[i])

10
20
30
40
50

In [42]:
#print all the prime numbers within a given interval (2 indices)
i1=10
i2=50
print("the prime numbers between {} and {} are".format(i1,i2))
for num in range(i1,i2):
    if num>1:
        flag = False
        for i in range(2,num):
           if(num%i==0):
            flag=True
        if not flag:
          print(num)

the prime numbers between 10 and 50 are
11
13
17
19
23
29
31
37
41
43
47

In [44]:
#methods in dictionary - has key, value
#dict create
myDict={}
myDict={1:"a",2:"b"}
print(myDict)

{1: 'a', 2: 'b'}

In [46]:
myDict=dict()
#dict with a list of tuples 
myDict=dict([(1,'a'),(2,'b')])
print(myDict)

{1: 'a', 2: 'b'}

In [48]:
#accssing dict elements using get 
myDict={1:'a',2:'b'}
print(myDict.get(1))
print(myDict[2])

a
b

In [50]:
#update 
myDict['2']='z'
myDict[2]='z'
print(myDict)

{1: 'a', 2: 'z', '2': 'z'}

In [56]:
myDict[3]='e'
print(myDict)

{1: 'a', '2': 'z', 3: 'e'}

In [57]:
myDict.pop(3)
print(myDict)

{1: 'a', '2': 'z'}

In [54]:
myDict.pop(2)
print(myDict)

{1: 'a', '2': 'z'}

In [58]:
#creating dictionary views
dict={2:4,3:9,4:16,5:25}
print(dict.items())
print(dict.keys())
print(dict.values())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])
dict_keys([2, 3, 4, 5])
dict_values([4, 9, 16, 25])

In [59]:
#dictionary comprehensions
d={'a':1,'b':2,'c':3,'d':4,'e':5}
print(d)
d={k+'x':v*2 for k,v in d.items() }
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'ax': 2, 'bx': 4, 'cx': 6, 'dx': 8, 'ex': 10}

In [2]:
#list operations
myList=[]
list=[1,2,3]
list=['a',(1,2),[34,56]]
print(list)
print(len(list))

['a', (1, 2), [34, 56]]
3

In [4]:
#append
list=[1,2,3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [6]:
#insert 
list.insert(2,2.5)
print(list)

[1, 2, 2.5, 3, 4]

In [9]:
#remove
list.remove(2.5)
print(list)

ValueError: list.remove(x): x not in list

In [11]:
list2=[9,8,7]
list.append(list2)
print(list)

[1, 2, 3, 4, [9, 8, 7], [9, 8, 7]]

In [12]:
#remove an item from list
list.pop()
print(list)

[1, 2, 3, 4, [9, 8, 7]]

In [13]:
list.pop(3)
print(list)

[1, 2, 3, [9, 8, 7]]

In [14]:
list.remove(3)
print(list)

[1, 2, [9, 8, 7]]

In [15]:
list.pop(0)
print(list)

[2, [9, 8, 7]]

In [16]:
#reverse
list=['a','b','c','d']
list.reverse()
print(list)

['d', 'c', 'b', 'a']

In [17]:
#sort- only works for numbers
list=[38,34,98,10]
list.sort()
print(list)

[10, 34, 38, 98]

In [18]:
#reference existing list with another list
newlist=list
print(newlist)

[10, 34, 38, 98]

In [19]:
newlist.pop(2)
print(list)
print(newlist)

[10, 34, 98]
[10, 34, 98]

In [20]:
#split a string to create a list
string = "this is an AI course"
split_str=string.split()
print(split_str)

['this', 'is', 'an', 'AI', 'course']

In [22]:
string = "this  is  an AI course"
split_str=string.split("i")
print(split_str)

['th', 's  ', 's  an AI course']

In [23]:
#indexing and slicing
list1=[1,2,3,4,5,6]
list2=[7,8,9,10]
print(list1[3])

4

In [25]:
print(list1[2:])

[3, 4, 5, 6]

In [26]:
print(list1[::2])

[1, 3, 5]

In [27]:
newlist=list1+list2
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
newlist.append(2)
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2]

In [30]:
#count
print(newlist.count(1))

1

In [31]:
#square list without comprehensions 
square = []
for i in range(10):
    square.append(i*i)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
#square list with comprehensions 
square = [i**2 for i in range (10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
#from the square list create a new list that has no > 10
newlist=[i for i in square if i>10]
print(newlist)

[16, 25, 36, 49, 64, 81]

In [37]:
#list with tuples for all nos from 0 to 15, the no and sq of the no, (num,sqnum)
newlist=[(i,i**2) for i in range(16)]
print(newlist)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225)]

SETS- unordered data type

In [38]:
#create
s={1,2,3,4,4,5,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [39]:
s=set([1,2,3,4,5,4])
print(s)

{1, 2, 3, 4, 5}

In [40]:
print(s[2])

TypeError: 'set' object is not subscriptable

In [41]:
s.add(7)
print(s)

{1, 2, 3, 4, 5, 7}

In [42]:
s.update([6,8])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
s.update({3,4})
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
#remove- remove, pop, discard
s.discard(5)
s.pop() #removes a random value
s.remove(4)
print(s)

{2, 3, 6, 7, 8}

In [45]:
#set operations - union, intersection, difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1|s2) # | is the union op

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
print(s1&s2)

{4, 5}

In [47]:
print(s1-s2)

{1, 2, 3}

In [48]:
print(s1.difference(s2))

{1, 2, 3}

In [69]:
#symmetric difference- gives ll the elements except the common ones
print((s1) ^ (s2))

{1, 2, 3, 6, 7, 8}

In [50]:
#subset 
s1.issubset(s2)

False

In [51]:
#superset
s1.issuperset(s2)

False

In [52]:
#frozenset - all the elems are freezed and cannot change 
set=frozenset([1,2,3,4,5])
print(set)
#any op pn 2 frozen sets will give a frozen set

frozenset({1, 2, 3, 4, 5})

STRINGS

In [53]:
str="hello"
str2="world"
print(str+str2)

helloworld

In [54]:
print(str*6)

hellohellohellohellohellohello

In [55]:
str = "hello world"
str.count('o')

2

In [59]:
#count occuarence of using iteration
count=0
for i in range(len(str)):
    if str[i]=='o':
        count+=1
print(count)

2

In [60]:
#lower upper
"hello".upper()

'HELLO'

In [61]:
"HELLO".lower()

'hello'

In [73]:
#prg to check if a given string is palindrome or not
str=input()
print(str)
rev=''.join(reversed(str))
print(rev)
if str == rev:
    print("palindrome")
else:
    print("not palindrome")

haa
aah
not palindrome

In [76]:
#prg to i/p string of multiple words, sort words in the string and display
str=input()
print(str)
s1=str.split()
s1.sort()
print(s1)
for word in s1:
    print(word)

he there how r u
['he', 'how', 'r', 'there', 'u']
he
how
r
there
u

TUPLES

In [79]:
#create
t=()
t=(1,2,3)
t=([1,2,3],4,5)
print(t[0])
s=(2)
s1=(2,)
print(type(s))
print(type(s1))

[1, 2, 3]
<class 'int'>
<class 'tuple'>

In [80]:
t1=([1,2,3],4,5)
t2=(5,8,9)
t1+t2

([1, 2, 3], 4, 5, 5, 8, 9)

In [84]:
(t1+t2).count(5)

2

In [85]:
print(t1.index(5))

2

In [93]:
#check of membership of a particular entry, max and min val in tuple
print(8 in t1)
print(5 in t1)
print(min(t2))
print(max(t2))
print(sum(t2))
print(len(t2))

False
True
5
9
22
3

In [98]:
#prog to make list work like a stack
stack=[]
#adding
stack.append(1)
stack.append(2)
stack.append(3)
# display
print(stack)
# removing 
stack.pop()
print(stack)

[1, 2, 3]
[1, 2]

In [103]:
#create a list having all multiples of 3 from 1 to 100
list=[i for i in range(1,101) if i%3==0]
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [116]:
#prog to sum all the items in a list
list1=[1,2,3,4,-1,-2,-3]

def sum(lst):
    count=0
    for i in lst:
        if(i>0):
         count+=i
    print(count)
sum(list1)

10

In [1]:
#prog to add char to the beginning of each element in list 
list=[1,2,3,4]
list=['hello'+str(i) for i in list]
list

['hello1', 'hello2', 'hello3', 'hello4']

In [2]:
#add all the items in the list
def add_list(num):
    sum=0
    for i in num:
        sum+=i
    return sum
l=[10,20,30,40,50]
print(add_list(l))

150

In [5]:
#list of items, count the length of the string >2 and 1st n last char should be same
def cnt_str(words):
    count=0
    for word in words:
        if len(word)>2 and word[0]==word[-1]:
            count+=1
    return count
list=['mom','dad','cat','bob']
print(cnt_str(list))

3

In [25]:
#remove duplicates from a list
#method 1- convert the list to set to remove the duplicates automatically
list=['abc','abc','aaa','lol','abc']
#s=set(list)
#print(s)
print(set(list))
print(sorted(set(list)))

#method 2 - using sorted and set 
# orted method gives output as list
l1=[1,1,2,2,3,4,5,5]
#l=[]
s=set(l1)
l=sorted(s)
print(type(l))
print(l)

#using comprehension
l2=[1,1,2,2,3,4,5,5]
ul=[]
[ul.append(ele) for ele in l2 if ele not in ul]
ul

{'lol', 'aaa', 'abc'}
['aaa', 'abc', 'lol']
<class 'list'>
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [27]:
#reverse a list using slicing and sort the list of numbers in decending order
#slicing [start:end:step]
list=[1,1,2,2,3,4,5,5]
rev_list=list[::-1]
rev_list

[5, 5, 4, 3, 2, 2, 1, 1]

In [30]:
l=[10,2,3,55,1,20]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 3, 10, 20, 55]
[55, 20, 10, 3, 2, 1]

In [44]:
#liner search on a given list of numbers - function 
def ls(list,pos):
    for i in range(len(list)):
        if i==pos:
            print(l[i],i)
l=[1,2,3,4,5,6]
pos=2
ls(l,pos)

3 2