PANDAS

pandas - 2 components are series and dataframes

In [4]:
import pandas as pd
name = ["keerthana","lalana","lavanya","shivani"]
degree=["BE","MBA","MBBS","BE"]
score=[97,99,87,98]
dict={'names':name,'degrees':degree,'scores':score}
df=pd.DataFrame(dict)
df
df.to_csv('info.csv')

In [6]:
df=pd.read_csv('info.csv')
df.head

<bound method NDFrame.head of    Unnamed: 0      names degrees  scores
0           0  keerthana      BE      97
1           1     lalana     MBA      99
2           2    lavanya    MBBS      87
3           3    shivani      BE      98>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      int64
 1   names       4 non-null      object
 2   degrees     4 non-null      object
 3   scores      4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes

In [8]:
df.columns

Index(['Unnamed: 0', 'names', 'degrees', 'scores'], dtype='object')

In [9]:
df.shape

(4, 4)

In [14]:
movies_df=pd.read_csv("IMDB-Movie-Data.csv",index_col="Released_Year")

In [15]:
movies_df.head()

,Poster_Link,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Released_Year,,,,,,,,,,,,,,,
1994,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1972,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2008,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
1974,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
1957,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [16]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1994 to 1935
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Poster_Link   1000 non-null   object
 1   Series_Title  1000 non-null   object
 2   Certificate   899 non-null    object
 3   Runtime       1000 non-null   object
 4   Genre         1000 non-null   object
 5   IMDB_Rating   1000 non-null   float64
 6   Overview      1000 non-null   object
 7   Meta_score    843 non-null    float64
 8   Director      1000 non-null   object
 9   Star1         1000 non-null   object
 10  Star2         1000 non-null   object
 11  Star3         1000 non-null   object
 12  Star4         1000 non-null   object
 13  No_of_Votes   1000 non-null   int64
 14  Gross         831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 125.0+ KB

In [17]:
movies_df.shape

(1000, 15)

In [18]:
movies_df.columns

Index(['Poster_Link', 'Series_Title', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2',
       'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [19]:
#all column name sto lower case
movies_df.columns=[col.lower() for col in movies_df]
movies_df.columns

Index(['poster_link', 'series_title', 'certificate', 'runtime', 'genre',
       'imdb_rating', 'overview', 'meta_score', 'director', 'star1', 'star2',
       'star3', 'star4', 'no_of_votes', 'gross'],
      dtype='object')

In [20]:
movies_df.isnull()

,poster_link,series_title,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
Released_Year,,,,,,,,,,,,,,,
1994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1972,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2008,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1974,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1957,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1961,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1956,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1953,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1944,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True
1935,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True

In [21]:
movies_df.isnull().sum()

poster_link       0
series_title      0
certificate     101
runtime           0
genre             0
imdb_rating       0
overview          0
meta_score      157
director          0
star1             0
star2             0
star3             0
star4             0
no_of_votes       0
gross           169
dtype: int64

In [27]:
movies_df.dropna().shape#oly the row with null is removed
#movies_df.dropna(axis=1).shape #the whole column is removed

(714, 15)

In [26]:
movies_df.shape

(1000, 15)

In [28]:
movies_df.columns

Index(['poster_link', 'series_title', 'certificate', 'runtime', 'genre',
       'imdb_rating', 'overview', 'meta_score', 'director', 'star1', 'star2',
       'star3', 'star4', 'no_of_votes', 'gross'],
      dtype='object')

In [29]:
#series
revenue=movies_df['meta_score']

In [30]:
revenue.head()

Released_Year
1994     80.0
1972    100.0
2008     84.0
1974     90.0
1957     96.0
Name: meta_score, dtype: float64

In [31]:
revenue_mean=revenue.mean()
revenue_mean

77.97153024911032

In [32]:
revenue.fillna(revenue_mean,inplace=True)

In [33]:
movies_df.isnull().sum()

poster_link       0
series_title      0
certificate     101
runtime           0
genre             0
imdb_rating       0
overview          0
meta_score        0
director          0
star1             0
star2             0
star3             0
star4             0
no_of_votes       0
gross           169
dtype: int64

In [34]:
a=movies_df['certificate']

In [35]:
a.head()

Released_Year
1994     A
1972     A
2008    UA
1974     A
1957     U
Name: certificate, dtype: object

In [40]:
a_mean = a.mean()
a_mean

TypeError: can only concatenate str (not "int") to str